<form action = '/result' method = "post">
    Name <input type = "text" name = "nameText" size="10"/>
    Age <input type = "text" name = "ageText" size="10"/>
        <input type = "submit" name = "submitBtn" value = "Submit Query"/>
</form>